*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    background-color:hsl(240, 78%, 98%);
    background-image:url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: top right,bottom left;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    opacity: 0.7;
}
.container .mainheading{
    padding-top: 4rem;
}
.container-1{
    width: 250px;
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
}

.container .allprices{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.container .allprices ul{
    list-style-type:none;
    padding-bottom: 2rem;
}
.container .allprices ul li{
    padding: 2rem;
}

.plan{
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom:3rem ;
    align-items: stretch;
   
}
.plan #dollar{
    font-size: 3rem;
}
.plan h2{
    padding: 1rem;
}
.plan p{
    padding: 2rem;
    font-size: 4rem;
    font-family: ;
}

    
.learn{
    display: block;
    border: 0px solid red;
    color: white;
    border-radius:0.5rem;
    text-decoration: none;
    background-color: hsl(233, 13%, 49%);
    margin: 1rem;
    padding:1rem;
    font-weight: 700;
}
.plan:hover{
    background-color:hsl(237, 63%, 64%);
    color: white;
    transform:scale(1.05);
}

.plan:hover .learn{
    color: rgb(151, 94, 151);;
    background-color: white;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* toggle button */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch input:checked+.slider {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media(min-width:1440px){
    .container .allprices{
        display: flex;
        flex-direction: row;
        padding: 2rem;
        overflow: hidden;
    }
    .plan{
        margin: 2rem;
    }
    .plan:hover{
        transform:scale(1.05);
    }
    
}